#telaLog
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2vh;
}

.linksRed
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    color: azure;
    padding: 1.3rem;
    padding-top: 0;
}

.linksRed a
{
    color: azure;
}

.titulo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p
{
    display: block;
    justify-content: center;
}

.btnLogar
{
    width: 5vw;
    height: 3vh;
    color: black;
    background-color: white;
    border-radius: 15px;
}

.btnLogar:hover
{
    background-color: rgb(128, 0, 0);
    color: white;
}


/* .x:start */