<div id="telaLog">
    <h1 class="titulo">
        Login
    </h1>

    <p>
        <label>Email/Username</label>
        <br>
        <input [(ngModel)]="email" id="ll">
    </p>

    <app-password [seePassword]="false" [breakLineOnInput]="true" (valueChanged)="passwordChanged($event)" />

    <button class="btnLogar" (click)="login()">Logar</button>

    <router-outlet></router-outlet>

    <div class="linksRed">
        <b>Esqueceu sua senha?</b>
        <b><a href="{{'/recover/' + email}}">Recupere agora!</a></b>
    </div>
</div>


 