<div class="tela">
    
    <div id="logAndNew">

        <!-- <div id="quadradoVermelho">
            <div class="content">
                <img id="logo" src="../../assets/Logo.png">
            </div>
        </div> -->

        <div id="cadastro">
            <div class="content">
                <div class="cads">

                    <app-new-account-page></app-new-account-page>
                    
                </div>
            </div>
        </div>

        <div id="login">
            <div class="content">
                <div class="logs">

                    <h1 class="titulo">
                        Login
                    </h1>

                    <p>
                        <label>Email/Username</label>
                        <br>
                        <input [(ngModel)]="email">
                    </p>

                    <app-password [seePassword]="false" [breakLineOnInput]="true" (valueChanged)="passwordChanged($event)" />

                    <button class="btnLogar" (click)="login()">Logar</button>
                    
                    <router-outlet></router-outlet>

                    <div class="linksRed">
                        <b>Esqueceu sua senha?</b>
                        <b><a href="{{'/recover/' + email}}">Recupere agora!</a></b>
                    </div>

                    <div class="linksRed">
                        <b>Não possui uma conta?</b>
                        <b><a type="button" (click)="NewAcc()">Crie uma agora mesmo!</a></b>
                    </div>
                </div>
            </div>       
        </div>
    </div>
</div>


 