<div class="main">
    <div class="createForum">
        <div class="img">
            <img class="forumImg" src="../../assets/gatofeio.png">
        </div>

        <div class="nome">
            <h1 class="nomeForum">Cats Feios</h1>
        </div>

        <div class="descricao">
            <p class="descricaoForum">
                Esse forum serve para adorar a gatos extremamente feios e esquisitos existentes nesse grande mundo chamado terra, seja bem vindo, fica a vontade e poste fotos de gatos feios sempre que sentir vontade
            </p>
        </div>
    </div>
</div>