<div class="main">
    <div class="createForum">
        <div class="publish">
            <mat-icon class="voltar">arrow_back</mat-icon>
            <button mat-raised-button class="publicar" color="warn">Criar</button>
        </div>

        <div class="img">
            <img class="forumImg" src="../../assets/gatofeio.png">
        </div>

        <div class="nome">
            <input class="nomeForum" placeholder="Nome do Forum...">
        </div>

        <div class="descricao">
            <textarea class="descricaoForum" placeholder="Escreva aqui..."></textarea>
        </div>
    </div>
</div>