<div class="nav">
  <div id="navLeft">
    <div class="nome">
        <b>My</b>
        <p>Campari</p>
        <b>dit</b>
    </div>

    <li id="home">
        <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-house"></i></a> <!-- home -->
    </li>

  </div>
  
  <div id="navRight">
      <li id="sair">
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-person-walking-arrow-right"></i></a><!-- sair -->
      </li>
  </div>
</div>


  