<div id="telaCad">
    <h1 class="titulo">
        Nova Conta
    </h1>


    <div>
        <label>Email</label>
        <br>
        <input type="text" [formControl]="email">


        <div *ngIf="email.invalid" style="color: red;">

            <div *ngIf="email.errors?.['required']">
                Insira um email.
            </div>

            <div *ngIf="email.errors?.['minlength']"></div>
        </div>
    </div>

    <p>
        <label>Username</label>
        <br>
        <input>
    </p>

    <app-create-password />

    <button class="btnCriar" (click)="CriarConta()">Criar Conta</button>
</div>

