.main
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.post
{
    background-color: black;

    width: 40vw;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.publish
{
    height: 2rem;
    padding: 1rem;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mat-mdc-button-touch-target
{
    width: 7rem;
    height: 70%;
}

.voltar
{
    color:red;
}

.voltar:hover
{
    transform: scale(110%);
    cursor: pointer;
}

.publicar
{
    background-color:red;
    width: 7rem;
    height: 100%;
}


.user
{
    display: flex;
    align-items: center;

    padding: 1rem;
    gap: 2rem;

    border: 1px solid white;
    border-bottom: 0;
}

.ftUser
{
    width: 5rem;
    height: 5rem;
    border-radius: 100%;

    border: 1px solid white;
}

.nomeUser
{
    font-size: 3rem;
    color: white;
}

.input
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 42rem;
}



.conteudo
{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 2.5rem;
}


.galeria
{
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 2.5rem;
}

.opcs
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    color: white;
}

.opcs:hover
{
    background-color: red;
    cursor: pointer;
}

.opcs:active
{
    background-color: rgb(139, 0, 0);
}


