.main
{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: black;
}



.left
{
    width: 20%;
    background-color: black;
    color: white;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 50px white;
}

.myforuns
{
    width: 20%;
    height: 92vh;
    position: fixed;
    overflow-x: hidden;
    box-sizing: border-box;
    padding-bottom: 2vh; 

}

.forum
{
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 10vh;

    gap: 1rem;
    padding: 1rem;
}

.fotoForum
{
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid white;
}

.textos
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 100%;
    height: 100%;
}

.nomeForum
{
   height: 30%;
   display: flex;
   align-items: center;
}

.descricao
{
    height: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.forum:hover
{
    box-shadow: 3px 3px 20px #000000;
}

.forum:active
{
    background-color: rgb(199, 199, 199);
}






.mid
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    max-height: fit-content;
    gap: 3vh;
    padding-bottom: 2vh; 
}

.card
{
    width: 33vw;
    height: fit-content;
    
    box-shadow: 0 0 12px white; 
}

.imageUser
{
    margin: 0;
    width: 50px;
    height: 50px;
}

.userName
{
    font-size: 1.2rem;
}


.cabecalho
{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    
}

.imgConteudo
{
    padding: 1rem;
}

.footer
{
    display: flex;
    justify-content: space-between;
}

.NLikes
{
    padding: 1rem;
}









.right
{
    width: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 15px 0px 15px 0px;

    background-color: black;
    color: white;
    box-shadow: 0 0 50px white;
}

.cargo
{

}


.members
{
    width: 20%;
    height: 92vh;
    position: fixed;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    


}

.member
{
    display: flex;
    align-items: center;
    width: 100%;  
    height: 6vh;
    gap: 1rem;
    padding: 1rem;
    padding-left: 0;
    
}

.fotoUser
{

    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: 1px solid white;
}

.nomeUser
{
    height: 30%;
}


