 /* MAIN */
 /* { */
    .main
    {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        background-color: #111;
        min-height: 100vh;
    }

    ::-webkit-scrollbar 
    {
        width: 0px;
    }
/* } */





/* LEFT */
/* { */
    .left
    {
        width: 20%;
        background-color: #111;
        color: white;
        box-shadow: 0 0 50px white;
    }

    .search
    {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        padding-bottom: 0;
    }

    .input
    {
        background-color: #111;
        border-bottom: 1px solid white;
        color: white;
    }

    .input::placeholder
    {
        color: rgb(167, 160, 160);
    }

    .myforuns
    {
        width: 20%;
        height: 92vh;
        position: fixed;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .forum
    {
        display: flex;
        justify-content: center;
        align-items: top;   
        height: 10vh;
 
        gap: 1rem;
        padding: 1rem;
    }

    .fotoForum
    {
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        border: 1px solid white;
    }

    .textos
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        width: 100%;
        height: 100%;
    }

    .nomeForum
    {
    height: 30%;
    display: flex;
    align-items: center;
    }

    .descricao
    {
        height: 70%;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
    }

    .forum:hover
    {
        box-shadow: 3px 3px 20px white;
        cursor: pointer;
    }

    .forum:active
    {
        background-color: rgb(199, 199, 199);
    }
/* } */





/* MID */
/* { */
    .mid
    {
        width: 40%;
        display: flex;
        position: relative;
    }

    .cards
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: fit-content;
        gap: 3vh;
        padding-top: 2vh;
        padding-bottom: 2vh; 
    }

    .card
    {
        width: 33vw;
        height: fit-content;
        
        box-shadow: 0 0 12px white; 
    }

    .imageUser
    {
        margin: 0;
        width: 50px;
        height: 50px;
    }

    .userName
    {
        font-size: 1.2rem;
    }

    .cabecalho
    {
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 1rem;
        
    }

    .imgConteudo
    {
        padding: 1rem;
    }

    .footer
    {
        display: flex;
        justify-content: space-between;
    }

    .NLikes
    {
        padding: 1rem;
    }
/* } */





/* RIGHT */
/* { */
    .right
    {
        width: 20%;
        background-color: #111;
    }
/* } */





/* MoreOptions */
/* { */
        .plus 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: fixed;
            right: 25vw;
            bottom: 2vh;
            width: 10%;
            z-index: 10;

        
        }

        .botaoMais 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            background-color: red;
            color: white;
        }
/* } */





/* AddPost */
/* { */



/* } */


